language: java

jdk:
  - oraclejdk8

env:
  - UI_DIR=ui

before_install:
  # Extra Chrome setup from: http://stackoverflow.com/questions/19255976
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install karma && npm install karma-jasmine karma-chrome-launcher
  - cd $UI_DIR && npm install -g grunt-cli bower
  - npm install
  - bower install
  - grunt build && cd ..

script:
  - mvn test -P postgres
  - mvn test -P mysql
  - mvn test -P h2
  - cd $UI_DIR && grunt test
