<div ng-controller="DatabaseSecretCreateCtrl">
  <form class="form-horizontal" ng-submit="create(description, ou)">
    <div class="modal-body">
      <div class="form-group">
        <label class="col-sm-3 control-label">Service OU</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Service OU" ng-model="ou" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Description</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Description" ng-model="description" required>
        </div>
      </div>
    </div>

    <ng-include src="'partials/modalFooter.html'"></ng-include>
  </form>
</div>
