<div class="row row-padding">
  <div class="col-md-3">
    <form class="navbar-search">
      <input ng-model="query" type="text" class="form-control" placeholder="Filter by name">
    </form>
  </div>
  <div class="col-md-9">
    <div class="pull-right">
      <button class="btn btn-primary" ng-click="openDialog()">Add Group</button>
    </div>
  </div>
</div>

<div class="row row-padding">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
      <tr>
        <th><a ng-click="sort = 'name'; reverse = !reverse">Name</a></th>
        <th><a ng-click="sort = 'createdBy'; reverse = !reverse">Created By</a></th>
        <th><a ng-click="sort = 'createdAt'; reverse = !reverse">Creation Date</a></th>
        <th><a ng-click="sort = 'updatedBy'; reverse = !reverse">Updated By</a></th>
        <th><a ng-click="sort = 'updatedAt'; reverse = !reverse">Update Date</a></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="group in groups | filter:query | orderBy:sort:reverse">
        <td><a ng-href="#/groups/{{group.id}}">{{group.name}}</a></td>
        <td>{{group.createdBy || 'Unknown'}}</td>
        <td>{{group.createdAt | date:'short'}}</td>
        <td>{{group.updatedBy || 'Unknown'}}</td>
        <td>{{group.updatedAt | date:'short'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
