<div class="modal-header">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Group Details</h4>
</div>

<form class="form-horizontal" ng-submit="create(name)">
  <div class="modal-body">
    <div class="form-group">
      <label class="col-sm-3 control-label">Name</label>
      <div class="col-sm-9">
        <input type="text"
               class="form-control"
               placeholder="Name of the Group"
               ng-model="name"
               required>
      </div>
    </div>
  </div>

  <ng-include src="'partials/modalFooter.html'"></ng-include>
</form>
