<div class="modal-header">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Delete group {{group.name}}</h4>
</div>
<div class="modal-body">
  <p>
    This operation cannot be undone. If uncertain, please double-check you are doing the right thing,
    otherwise stuff will most likely break.
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="close()">Take me out of here!</button>
  <a ng-click="deleteGroup()" ng-href="#/groups" class="btn btn-danger" data-dismiss="modal">Yes, Delete Group</a>
</div>
