<div class="row row-padding">
  <div class="col-md-3">
    <form class="navbar-search">
      <input ng-model="query" type="text" class="form-control" placeholder="Filter by name">
    </form>
  </div>
  <div class="col-md-9">
    <div class="pull-right">
      <button class="btn btn-primary" ng-click="openDialog()">Add Secret</button>
    </div>
  </div>
</div>

<div class="row row-padding">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><a ng-click="sort = 'name'; reverse = !reverse">Name</a></th>
          <th><a ng-click="sort = 'createdBy'; reverse = !reverse">Created By</a></th>
          <th><a ng-click="sort = 'createdAt'; reverse = !reverse">Creation Date</a></th>
          <th><a ng-click="sort = 'version'; reverse = !reverse">Secret Version</a></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="secret in secrets | filter:query | orderBy:sort:reverse">
          <td><a ng-href="#/secrets/{{secret.id}}">{{secret.name}}</a></td>
          <td>{{secret.createdBy || 'Unknown'}}</td>
          <td>{{secret.createdAt | date:'short'}}</td>
          <td>{{secret.version || 'No Version'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
