<ng-include src="'partials/undo.html'"></ng-include>

<div class="row">
  <div class="col-md-10">
    <h3>Detail for secret: {{secret.name}}</h3>

    <strong>Description</strong>
    <p>{{secret.description || 'No description available'}}</p>
  </div>
</div>

<div class="row row-padding">
  <div class="col-md-6">
    <p><strong>Groups</strong></p>

    <form class="form-inline" ng-submit="assignGroup()">
      <input type="text"
        class="form-control"
        placeholder="Add Group"
        ng-model="selected"
        typeahead="group.name for group in groups | filter:$viewValue">
      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
    </form>
  </div>
  <div class="col-md-6">
    <p><strong>Clients</strong></p>
  </div>
</div>

<div class="row row-padding">
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li ng-repeat="group in secret.groups">
        <button ng-click="unassignGroup(group)" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
        <a ng-href="#/groups/{{group.id}}">{{group.name}}</a>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li ng-repeat="client in secret.clients">
        <a ng-href="#/clients/{{client.id}}">{{client.name}}</a>
      </li>
    </ul>
  </div>
</div>

<div class="row row-padding">
  <div class="col-md-2">
    <a role="button" ng-click="openDeleteConfirmation()" class="btn btn-danger">Delete Secret</a>
  </div>
</div>
